body {
  background-color: #F8F8FF;
  font-family: 'Noto Serif';
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.all_header{
  text-align: center;
  display: block;

  /* margin-top: -10px; */

  /* this is the measure between the logo and the buttons */
  /* margin-bottom: -110px; */
}

.logo_header_centre{

    padding: 0.5em 1em;

    /* max-width: 250px;
    max-height: 150px; */

    margin-bottom: -6.1%;
    max-width: 12%;
    max-height: 5%;
}

.border_line{
  border:0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

  margin-left: 6em;
  margin-right: 6em;
  margin-top: 60px;
}

.menu_bar_left {
  display: inline-block;
  text-align: left;
  padding: inherit;
  font-size: 80%;
  color: black;
  text-decoration: none!important;
  word-spacing: 150px;
  margin-left: 0%;
  /* margin-top: -100px; */
  cursor: pointer;
}

.menu_bar_left a:visited{
  color: black;
}

.menu_bar_left a:hover, a:active, a:link{
  color: #C5B358;
  text-decoration: none;
}

.menu_bar_right{
  display: inline-block;
  text-align:right;
  font-size: 80%;

  text-decoration: none!important;
  color: black;
  word-spacing: 150px;
  /* margin-top: 0px; */
  margin-left: 25%;
  cursor: pointer;
}

.menu_bar_right a:visited{
  color: black;
}

.menu_bar_right a:hover, a:active, a:link{
  text-decoration: none;
  color: #C5B358;
}

/* .stars{
  display: inline-block;
  color: #C5B358;
  word-spacing: 500px;
} */


@media only screen and (max-width: 1327px) {

  .border_line{
    border:0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

    margin-left: 6em;
    margin-right: 6em;
    margin-top: 5%;
  }

  .menu_bar_left {
    display: inline-grid;
    text-align: left;
    padding: inherit;
    font-size: 80%;
    color: black;
    text-decoration: none!important;
    word-spacing: 150px;
    margin-left: 0%;
    /* margin-top: -100px; */
    cursor: pointer;
  }

  .menu_bar_right{
    display: inline-grid;
    text-align:right;
    font-size: 80%;

    text-decoration: none!important;
    color: black;
    /* word-spacing: 150px; */
    /* margin-top: 0px; */
    margin-left: 25%;
    cursor: pointer;
  }

}

.social_media_btn{
  color: black;
  font-size: 36px;
  margin-left: 30px;
  margin-right: 30px;
  word-spacing: 20px;
}

.social_media_btn a:visited{
  color: black;
}

.social_media_btn a:hover{
  cursor: pointer;
  color: #C5B358;
}

.salut{
  margin-top: 5%;
  font-weight: normal;
  font-size: 140%;
  margin-left: 250px;
}

.home_text{
  display: block;
  font-size: 75%;
  margin-left: 250px;
  margin-right: 400px;
  margin-top: 0px;
  font-weight: normal;
}

.border_line_copyright{
  border:0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

  /* background: linear-gradient(to right, rgba(247,247,49,1) 0%,rgba(255,255,255,0) 69%); */
  /* border-top: 1.5px solid black; */

  margin-left: 10em;
  margin-right: 10em;
  margin-top: 17%;
  margin-bottom: 50px;
}

#topButton{
  display: block;
  margin-top: 2%;
  border:0;
  background: #F8F8FF;
  font-size: 80%;
  font-weight: bold;
}
