body {
  background-color: #FFFFFF;
  font-family: 'Noto Serif';
  font-size: 22px;
  font-weight: bold;
  color: black;
}
.all_header{
  text-align: center;
  display: block;

  /* margin-top: -10px; */

  /* this is the measure between the logo and the buttons */
  /* margin-bottom: -110px; */
}

.logo_header_centre{

    padding: 0.5em 1em;

    /* max-width: 250px;
    max-height: 150px; */

    margin-bottom: -6.1%;
    max-width: 12%;
    max-height: 5%;
}

.border_line{
  border-top: 1.5px solid black;
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 60px;
}

.menu_bar_left {
  display: inline-block;
  text-align: left;
  padding: inherit;
  font-size: 80%;
  color: black;
  text-decoration: none!important;
  word-spacing: 150px;
  margin-left: -0%;
  /* margin-top: -100px; */
  cursor: pointer;
}
.menu_bar_left a:visited{
  color: black;
}
.menu_bar_left a:hover, a:active, a:link{
  color: #8FBB99;
  text-decoration: none;
}

.menu_bar_right{
  display: inline-block;
  text-align:right;
  font-size: 80%;

  text-decoration: none!important;
  color: black;
  word-spacing: 150px;
  /* margin-top: 0px; */
  margin-left: 25%;
  cursor: pointer;
}
.menu_bar_right a:visited{
  color: black;
}
.menu_bar_right a:hover, a:active, a:link{
  text-decoration: none;
  color: #8FBB99;
}


@media only screen and (max-width: 1200px) {

/*test test test border  */
  .border_line{
    border-top: 1.5px solid red;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 18%;
  }

/* picture */
  .logo_header_centre{
      float:center;
      /* padding: 0.5em 1em; */
      max-width: 15%;
      max-height: 10%;

      margin-left: 10px;
      margin-right: 10px;
      margin-top: 0%;
      margin-bottom: -10%;
  }
  .logo_header{
    display: block;
    /* margin-bottom: -100px; */
    position:static;

    /* this is the measure between the logo and the buttons */
    /* margin-bottom: -100px; */
  }


  .menu_bar_left {
    float: left;
    display: inline-grid;
    text-align: left;
    position: static;
    border: 3px solid transparent;
    /* padding: inherit; */
    font-size: 80%;
    color: black;
    text-decoration: none!important;
    /* word-spacing: 125px; */

    /* padding-right: 10px; */

    margin-top: 0%;
    margin-bottom: 10%;
    /* margin-left: 150px; */
    cursor: pointer;
  }
/*
  .menu_bar_right{
    float: left;
    margin-top: 0px;
    /* display: inline-grid;
    text-align: left;
    font-size: 80%;
    position: static;
    /* padding-left: 10px;
    padding: 1% 5%;
    text-decoration: none!important;
    color: black;
    /* word-spacing: 125px;

    /* margin-left: 500px;
    cursor: pointer;
  } **/


}




.salut{
  margin-top: 40%;
  font-weight: normal;
  margin-left: 200px;
}
.home_text{
  display: block;
  margin-left: 200px;
  margin-right: 400px;
  margin-top: 0px;
  font-weight: normal;
}
.border_line_copyright{
  background: linear-gradient(to right, rgba(247,247,49,1) 0%,rgba(255,255,255,0) 69%);
  border-top: 1.5px solid black;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 320px;
  margin-bottom: 50px;
}

