$gg:#EFF1F4;
$rr:#F44336;

@mixin transition($in) {
	transition:$in;
	-webkit-transition:$in;
	-moz-transition:$in;
	-o-transition:$in;
	-ms-transition:$in;
}
@mixin transform($in) {
	transform:$in;
	-webkit-transform:$in;
	-moz-transform:$in;
	-o-transform:$in;
	-ms-transform:$in;
}
@mixin transform-style($in) {
	transform-style:$in;
	-webkit-transform-style:$in;
	-moz-transform-style:$in;
	-o-transform-style:$in;
	-ms-transform-style:$in;
}
@mixin perspective($in) {
	perspective:$in;
	-webkit-perspective:$in;
	-moz-perspective:$in;
	-o-perspective:$in;
	-ms-perspective:$in;
}
@mixin perspective-origin($in) {
	perspective-origin:$in;
	-webkit-perspective-origin:$in;
	-moz-perspective-origin:$in;
	-o-perspective-origin:$in;
	-ms-perspective-origin:$in;
}
@mixin transform-origin($in) {
	transform-origin:$in;
	-webkit-transform-origin:$in;
	-moz-transform-origin:$in;
	-o-transform-origin:$in;
	-ms-transform-origin:$in;
}



body, html{
  margin: 0;
  padding: 0;
  background: #222;
}

*{
  color: #000;

}
h2{
  font-weight: bold;
}
p{
  color: #000;
  line-height: 1.5;
}

.button{
  display:inline-block;
  margin-top:10px;
  color: #FFFFFF;
  padding: 15px 40px;
  background-color: #FF822A;
  border-radius: 3px;
  text-decoration: none;
  font-weight:bold;
  box-shadow: 0 3px 0 0 rgba(255, 130, 42, 0.1);
  border:1px solid #F77D27;
}
.button:hoover{
  background-color: #FF8A38;
}

main.container{
  width: 60%;
  margin: 400px auto;
}
.env_box{
  display: inline-block;
 position: absolute;
 bottom: 50px;
 right: 50px;
}

#open_env{
  display: none;

}

.env{
  animation: envelope 2s;

	margin:200px auto 0;
	background:darken($gg,15%);
	width:500px;
	@include perspective(3000px);
	@include perspective-origin(50% 0);
	@include transform-style(preserve-3d);

  .rest {
		width:100px;
		height:0;
		margin:0 auto;
		border:200px solid $gg;
		border-bottom:150px solid darken($gg,5%);
		border-top:150px solid transparent;
		margin-top:-300px;
	}
	.content {
		width:400px;
    margin-bottom:500px;
		padding:40px 30px 0px 30px;
		height:250px;
		background:#fff;
		@include transition(all 0.5s ease);
		text-align:center;
		position:absolute;
		z-index:-5;
		margin-left:25px;
		@include transform(translate(0,0));
    animation-delay:2s;
	}
	.top {
		display:block;
		width:0;
		height:0;
		border:200px solid transparent;
		border-top-color:darken($gg,10%);
		margin:0 auto;
		@include transform(scale(1.25,1));
		margin-bottom:-400px;
		cursor:pointer;
		@include transition(all 0.5s ease);
		@include transform-origin(50% 0);
    position:relative;
	}



	.open-env {
		label.top {

      animation: labeltop 1s ease forwards 1 0.5s;
      animation-delay:1.2s;

		}
		.content {
			animation:out 1s ease forwards 1 0.5s;
      animation-delay:2s;
		}
	}

}
